---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rowlett Arbor Day</title>
  </head>
  <body>
    <Header />

    <main>
      <section id="bald-cypress">
        <h2>Bald Cypress</h2>
        <img
          src="https://media.istockphoto.com/id/172183369/photo/mighty-bald-cypress.jpg?s=612x612&w=0&k=20&c=HmuUvVLdvCEdIf13-RhnTVLuaU895W2qqNaTrkjT4pQ="
          alt="Bald Cypress Tree"
        />
        <div class="info">
          <h3>Planting</h3>
          <p>
            Plant Bald Cypress in wet or moist areas. They are particularly
            well-suited for swampy conditions but can also adapt to drier soils.
          </p>
          <h3>Care</h3>
          <p>
            Requires regular watering. Mulch around the base to retain moisture.
            Minimal pruning is needed, mainly to remove dead or damaged
            branches.
          </p>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
