/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and overall styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    width: 100%;
    padding: 24px 24px 80px 24px;
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
}

.tree-option {
    margin-bottom: 8px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.info h3 {
    margin-top: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Phone (up to 600px) */
@media only screen and (max-width: 600px) {
    /* Styles for phones */
    main {
        width: 100vw;
    }
}

/* Tablet (601px to 992px) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    /* Styles for tablets */
    main {
        width: 80vw;
    }
}

/* Desktop (993px and up) */
@media only screen and (min-width: 993px) {
    /* Styles for desktops */
    main {
        width: 60vw;
    }
}
