<header>
  <a href="/"><h1>Rowlett Arbor Day</h1></a>
  <nav>
    <ul>
      <li><a href="/bur-oak">Bur Oak</a></li>
      <li><a href="/bald-cypress">Bald Cypress</a></li>
      <li><a href="/cedar-elm">Cedar Elm</a></li>
      <li><a href="/red-oak">Red Oak</a></li>
    </ul>
  </nav>
</header>
